/dist
/build
/nbproject
/ballistic.exe
/ballistic
*.o
*.pyc
/blender_lvl
/blender_lvl/*
/.idea
*.so
/trash/*
/test
.sconsign.dblite
*.os
test.xml
/.idea
/python_build
/python
/boost
/core
/venv
/engine_tools/leveled/leveled
/staging/rocket/rtest
/libRocket
*.cppcheck
